# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- Chrome_checker

variables:
- name: chrome.stable.version.url
  value: "https://chromedriver.storage.googleapis.com/LATEST_RELEASE"
- name: chrome.latest.version.url
  value: "https://versionhistory.googleapis.com/v1/chrome/platforms/win/channels/stable/versions"

pool:
  name: SelfHostedPool

stages:
- stage: CheckChromeVersion
  displayName: "Check for new Chrome version"
  jobs:
  - job: VersionCheck
    displayName: "Check Chrome version"
    steps:
    - task: PowerShell@2
      name: GetLatestChromeVersionAPI
      displayName: 'Get Chrome Version from Google API'
      inputs:
        targetType: 'inline'
        script: |
          # Get version from Google Chrome API
          $response = Invoke-RestMethod -Uri "$(chrome.latest.version.url)"
          $latestVersion = $response.versions[0].version
          Write-Host "Latest Chrome Version: $latestVersion"
          # Set as output variable
          echo "##vso[task.setvariable variable=latestVersion;isOutput=true]$latestVersion"
          # Also set as regular variable for use within same job
          echo "##vso[task.setvariable variable=latestVersion]$latestVersion"
    - task: PowerShell@2
      name: EchoTheName
      displayName: 'Print out the saved chrome version'
      inputs:
        targetType: 'inline'
        script: |
          # Use the variable set in the previous task
          echo "This is the latest chrome version: $(latestVersion)"
          # Or if you need to reference the output variable specifically:
          echo "Latest version from output variable: $(GetLatestChromeVersionAPI.latestVersion)"
    - task: PowerShell@2
      name: CompareVersions
      displayName: "Compare with current version"
      inputs:
        targetType: "inline"
        script: |
          # Get the stored current version (you might want to store this in a variable group or file)
          $currentVersion = "$(current.chrome.version)"
          $latestVersion = "$(GetLatestChromeVersionAPI.latestVersion)"

          Write-Host "Current version: $currentVersion"
          Write-Host "Latest version: $latestVersion"

          if ($currentVersion -ne $latestVersion) {
            Write-Host "New Chrome version detected: $latestVersion"
            echo "##vso[task.setvariable variable=new.version.detected;isOutput=true]true"
            echo "##vso[task.setvariable variable=new.chrome.version;isOutput=true]$latestVersion"
          } else {
            Write-Host "No new Chrome version available"
            echo "##vso[task.setvariable variable=new.version.detected;isOutput=true]false"
          }
    # - task: VisualStudioTestPlatformInstaller@1
    #   displayName: Visual Studio Test Platform Installer
    #   condition: eq(variables['new.version.detected'], 'true')
    # - task: SmartBearSoftware.dev-install-testcomplete-adapter-task.dev-install-testcomplete-adapter-task.InstallTestCompleteAdapter@1
    #   displayName: TestComplete test adapter installer
    #   inputs:
    #     installExecutor: true
    #     updateExecutor: true
    #     accessKey: $(access.key)
    # - task: VSTest@3
    #   displayName: VsTest - testAssemblies
    #   inputs:
    #     testAssemblyVer2: '**\*.pjs'
    #     testFiltercriteria: Project=TestProject2024
    #     vsTestVersion: toolsInstaller